{{#page}}
<main role="main">
	{{#has_summary}}
	<nav>
		<h2>Sommaire</h2>
		<ul>
		{{#summary}}
			<li><a href="{{curren_url}}#{{slug}}">{{name}}</a></li>
		{{/summary}}
		</ul>
	</nav>
	{{/has_summary}}
	<article>
		{{{content}}}
	</article>
	{{#related}}
	<aside>
		<article>
		{{{content}}}
		</article>
	</aside>
	{{/related}}
</main>
{{/page}}