<footer role="contentinfo" class="footer">
	<section>
		<h2>{{tanuki.title}}</h2>
		<p>
			{{{tanuki.description}}}
		<p>
	</section>
	<section class="sub-footer">
		<p>
			<a href="{{tanuki.publisher.url}}">{{tanuki.publisher.name}}</a>, <a href="{{tanuki.publisher.email}}">{{tanuki.publisher.email}}</a>
			—
			Licence <a href="{{tanuki.license.url}}">{{tanuki.license.name}}</a> {{current_year}}
		</p>
	</section>
</footer>