<header role="banner" class="header">
	<h1 class="banner-logo">
		<a href="{{base_url}}">
			<img src="{{base_url}}assets/img/logo-flvm-compact.png" alt="{{tanuki.title}}" title="Aller à l'accueil"/>
		</a>
	</h1>
	<p class="banner-description">{{{tanuki.description}}}</p>
	<a href="{{base_url}}planning" class="btn btn-banner-planning">Planning</a>
</header>