<nav role="navigation" class="navigation">
	{{#has_navigation}}
	{{#navigation}}
	<a href="{{url}}" class="navigation-link {{#current}}navigation-link-current{{/current}}">{{name}}</a>
	{{/navigation}}
	{{/has_navigation}}
</nav>