<nav role="navigation" class="banner-navigation">
	{{#has_navigation}}
	{{#navigation}}
	<a href="{{url}}" class="btn-navigation {{#current}}current{{/current}}">{{name}}</a>
	{{/navigation}}
	{{/has_navigation}}
</nav>