/**
* Éntete du site
**/
.banner
{
	padding: 1em;
	background-color: @color;
	
	.banner-logo
	{
		img
		{
			width: 100%;
			max-width: 175 * @pixrem;
		}
		
		margin: 0 auto 1rem;
	}

	&.compact
	{
		.btn
		{
			.font-size(@small);
		}
		.banner-logo
		{
			img
			{
				max-width: 120 * @pixrem;
			}
		}
	}
}

.banner-logo
{
	.font-size(@large);
	text-align: center;
}

.banner-description
{
	display: none;
	font-style: italic;
	text-align: center;
	.font-size(@normal);
	padding-top: 15 * @pixem;
	padding-left: 80 * @pixem;
	padding-right: 80 * @pixem;
	line-height: 1.2em;
}
.btn-banner-planning:link,
.btn-banner-planning:visited
{
	.btn-color(@color-black);
}

.enhance-banner()
{
	.banner
	{
		&.compact
		{
			padding: 0 .5em .6em;
			.header
			{
				max-width: 5em;
			}
			.banner-logo
			{
				text-align: left;
				margin-bottom: 0;
				img
				{
					max-width: 3em;
					display: block;
				}
			}
			.banner-description
			{
				.font-size(@small);
				line-height: 1.5em;
				padding-top: 1.3em;
				margin-left: 4em;
			}
			.banner-navigation
			{
				padding-top: .5em;
			}
			.btn-banner-planning
			{
				top: .6em;
			}
		}
	}
	.banner-logo
	{
		position: absolute;
		z-index: 1;
		left: .2em;
		top: .2em;
		max-width: 175 * @pixrem;
		background-color: @color;
		border-radius: 180 * @pixrem;
		margin-bottom: 0;
		border: 3px * @pixem solid @color;
		img
		{
			display: block;
		}
	}
	.banner-description
	{
		display: block;
		margin-bottom: 0;
		float: left;
		margin: 0 0 0 6em;
		white-space: nowrap;
	}
	.banner-navigation
	{
		.cf();
		float: right;
		width: 4 * @column-width;
		margin-right: 8em;
	}
	.btn-banner-planning
	{
		position: absolute;
		top: 1em;
		right: 1em;
		// float: right;
	}
}