/**
* Éntete du site
**/
.banner
{
	margin-bottom: 1.5em;
	padding: 1em;
	background-color: @color;

	&.compact
	{
		.btn
		{
			.font-size(@small);
		}
	}
}

.banner-logo
{
	.font-size(@large);
	text-align: center;
}

.banner-description
{
	font-style: italic;
	text-align: center;
	padding-left: 1.5em;
	padding-right: 1.5em;
}


.banner-btn-planning:link,
.banner-btn-planning:visited
{
	.btn-color(@color-black);
}

.enhance-banner()
{
	.banner
	{
		&.compact
		{
			.banner-logo
			{
				text-align: left;
			}
		}
	}
}