/**
* Grid
**/

// Mobile first
.wrapper,
.banner,
main,
.main-header,
.main-footer
{
	.wrapper();
}

main > article,
main > aside,
footer
{
	padding-left: 1em;
	padding-right: 1em;
}

// Base font
body
{
	font-size:  unit(@small / @root * 100, %);
	word-break: break-all;
}

// Medium device
@media (min-width: @screen-medium)
{
	// Base font
	body
	{
		font-size:  unit(@normal / @root * 100, %);
	}
	// Wrappers
	main,
	.footer
	{
		.wrapper(10);
	}
	// Init columns
	.banner-navigation a,
	main > article,
	main > aside,
	.footer > section
	{
		.column-init();
	}
	
	// Banner
	.enhance-banner();
	.banner-navigation
	{
		a
		{
			.column-fluid(1,2);
		}
	}

	// Main content
	main > article
	{
		.column(6);	
	}
	main > aside
	{
		.column(4);
	}
}

@media (min-width: @screen-large)
{
	// Wrappers
	// Wrappers
	main,
	.footer
	{
		.column(12);
	}

	// Banner
	.header
	{
		.column(4);
	}
	
	// Main content
	main > article
	{
		.column(7);	
	}
	main > aside
	{
		.column(4, 1);
	}
}