@import 'libs/chibicss/init.less';
// Custom styles
@import 'banner.less';
@import 'footer.less';
@import 'navigation.less';
@import 'article.less';
@import 'hero.less';
@import 'grid.less';
@import 'layout.less';
// @import 'styleguide.less';

// Configuration
@xxxx-large			: 76px;
@xxx-large			: 60px;
@xx-large			: 48px;
@x-large			: 36px;
@large				: 27px;
@normal				: 23px;
@small				: 19px;
@x-small			: 16px;
@xx-small			: 14px;
@xxx-small			: 12px;

@color: #F2B825;
@color-black: #1A222F;

// Pixrem
@pixrem: unit((1 / @root), rem);

// @debug: true;
body
{
	padding: 0;
}