@import 'libs/chibicss/init.less';
// Custom styles
@import 'banner.less';
@import 'footer.less';
@import 'navigation.less';
@import 'article.less';
@import 'hero.less';
@import 'grid.less';
@import 'layout.less';
// @import 'styleguide.less';

// Configuration
@xxxx-large			: 60px;
@xxx-large			: 48px;
@xx-large			: 36px;
@x-large			: 28px;
@large				: 23px;
@normal				: 20px;
@small				: 16px;
@x-small			: 14px;
@xx-small			: 12px;
@xxx-small			: 10px;

@color: #F2B825;
@color-black: #1A222F;
@color-link: #E7773A;
@color-link-visited: #F99157;
@color-link-hover: #E35D27;
@color-link-active: @color-complementary;
@color-muted-lighter: lighten(@color-muted, (100 - @luma) * 0.8);

// Pixrem
@pixrem: unit((1 / @root), rem);

// @debug: true;
body
{
	padding: 0;
}