/**
* ChibiCSS
* A simple and lovely CSS framework
*
* By Ziopod
* MIT License
* http://github.com/ziopod/chibicss
**/
/**
* Tools
*
* This does not write any CSS, it just brings you tools for build your design.
* Vanilla, layout and styleguide LESS files depend on these tools.
**/
/**
* Grid
*
* Variables and mixins for grid usage
*
* @package ChibiCSS
**/
/** Configuration **/
/**
* Grid toolbox
**/
/**
* Clearfix
* From http://nicolasgallagher.com/micro-clearfix-hack/
**/
/**
* Typo
*
* Set of variables and mixins for typo usages
*
* @package ChibiCSS
**/
/**
* Configuration (move to separate file)
**/
/**
* Utilities variables
**/
/**
* Pixem
* Convert pixel unit size to REM size
*
* @param	mixed	size
**/
/**
* Font-size
* Set REM font-size, based on size name
* Usage: .font-size(@large)
*
* @param	string		font-size
**/
/**
* Font
* Set shorthanded font 
*
* @param	string		font-size
* @param	string		font-family type
**/
/*
* Baseline
* Set baseline (experimentale)
*
* cf. http://www.smashingmagazine.com/2012/12/css-baseline-the-good-the-bad-and-the-ugly/
* cf. http://8gramgorilla.com/the-masochism-of-implementing-css-baseline/
*
* @param	string		font-size
**/
/**
* Colors
*
* Variables and mixins for colors usages.
* cf. http://richbray.me/cms/bootstrap/
* cf. http://sass-guidelin.es/#colors-and-variables
*
* @package ChibiCSS
**/
/**
* Configuration
**/
/*
@color-text-light		:
@color-text-lighter	:
*/
/*@color-link			:
@color-link-dark		:
@color-link-light		:
@color-link-hover		:
@color-link-visited		:
@color-link-active		:
*/
/*@color-border
@color-border-dark		:
@color-border-light		:
*/
/*
@color-background		:
@color-background-dark	:
@color-background-light	:

/**
* Colors variantes
**/
/**
* Colomaton
* Show informations about color
*
* @param	color	Color you want inforamtion
* @param	string	Css class suffix
**/
/**
* Layout
*
* Stuffs for layout design
*
* @package ChibiCSS
**/
/**
* Label
* Generate label
*
* @param	color	Label background color
**/
/**
* Label color
* 
* @param	color	Label background color
**/
/**
* Button
*
**/
/**
* Button fluid
**/
/**
* Button color
*
* @param	color  Background-color
**/
/**
* Reset CSS v2.0
* 
* The pretty simple reset from Eric Meyer http://meyerweb.com/eric/tools/css/reset/
**/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
* Vanilla CSS
*
* This file perform a simple and neutral presentation for HTML elements.
**/
/**
* Vanilla CSS
*
* Simple and neutral presentation.
*
* @package ChibiCSS
**/
/**
* Text
*
* All things for text aspect. 
*
* @package ChibiCSS
**/
body {
  font: normal 1em/1.5em Georgia, serif;
  font-size: 143.75%;
  color: #1a222f;
  padding: 1.5em;
}
p,
article,
section,
aside,
figure,
section nav {
  margin-bottom: 1.5em;
}
hr {
  border: none;
  border-top: 0.08695652em solid #f2b825;
  margin: 0;
  padding: 1.5em 0 0;
}
address {
  font-style: italic;
  margin-bottom: 1.5em;
}
small {
  font-size: 0.82608696em;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: 600;
}
pre,
code,
samp,
kbd {
  font: normal 1em/1.5em "Andale Mono", "Lucida Console", monospace;
  line-height: 1.81578947em;
  font-size: 0.82608696em;
  margin-bottom: 1.81578947em;
  background-color: #cfcbc0;
  padding: .2em .3em .28em;
}
pre {
  padding: 1.5em;
}
pre *:last-child {
  margin-bottom: 0;
}
var {
  font-style: italic;
}
blockquote {
  padding: 1.5em;
  background-color: #cfcbc0;
  margin-bottom: 1.5em;
  font-style: italic;
}
blockquote em,
blockquote i {
  font-style: normal;
}
blockquote *:last-child {
  margin-bottom: 0;
}
blockquote footer::before {
  content: "—\00A0";
}
q,
cite {
  quotes: '«\00A0' '\00A0»' '"' '"';
}
q:before,
cite:before {
  content: open-quote;
}
q:after,
cite:after {
  content: close-quote;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ffff00;
  color: #1a222f;
  padding: .2em .3em .28em;
}
/**
* Heading
*
* Headings semantic size, like Mozilla's style : http://hg.mozilla.org/mozilla-central/file/tip/layout/style/html.css#l171
*
* @package ChibiCSS
**/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  font-weight: 600;
}
h1 {
  line-height: 1.36184211em;
  font-size: 3.30434783em;
  margin-bottom: 0.45394737em;
}
h2 {
  line-height: 1.15em;
  font-size: 2.60869565em;
  margin-bottom: 0.575em;
}
h3 {
  line-height: 1.4375em;
  font-size: 2.08695652em;
  margin-bottom: 0.71875em;
}
h4 {
  line-height: 1.91666667em;
  font-size: 1.56521739em;
  margin-bottom: 0.95833333em;
}
h5 {
  line-height: 1.27777778em;
  font-size: 1.17391304em;
  margin-bottom: 1.27777778em;
}
h6 {
  line-height: 1.5em;
  font-size: 1em;
  margin-bottom: 1.5em;
}
/*
* Experimental
:-moz-any(section, article, footer, aside, nav)
{
	h1 { .baseline(@xxx-large);}
	h2 { .baseline(@xx-large);}
	h3 { .baseline(@x-large);}
	h4 { .baseline(@large);}
	h5 { .baseline(@normal);}

	:-moz-any(section, article, footer, aside, nav)
	{
		h1 { .baseline(@xx-large);}
		h2 { .baseline(@x-large);}
		h3 { .baseline(@large);}
		h4 { .baseline(@normal);}

		:-moz-any(section, article, footer, aside, nav)
		{	
			h1 { .baseline(@x-large);}
			h2 { .baseline(@large);}
			h3 { .baseline(@normal);}
		}
	}
}
:-webkit-any(section, article, footer, aside, nav)
{
	h1 { .baseline(@xxx-large);}
	h2 { .baseline(@xx-large);}
	h3 { .baseline(@x-large);}
	h4 { .baseline(@large);}
	h5 { .baseline(@normal);}
	h6 { .baseline(@normal);}

	:-webkit-any(section, article, footer, aside, nav)
	{
		h1 { .baseline(@xx-large);}
		h2 { .baseline(@x-large);}
		h3 { .baseline(@large);}
		h4 { .baseline(@normal);}

		:-webkit-any(section, article, footer, aside, nav)
		{	
			h1 { .baseline(@x-large);}
			h2 { .baseline(@large);}
			h3 { .baseline(@normal);}
		}
	}
}
*/
/**
* Link
*
* Simply apply colors here, there's nothing else to say.
*
* @package ChibiCSS
**/
h1 a:link,
h1 a:visited,
h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited,
h4 a:link,
h4 a:visited,
h5 a:link,
h5 a:visited,
h6 a:link,
h6 a:visited {
  color: #1a222f;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #f2b825;
}
a:link {
  color: #f2b825;
}
a:visited {
  color: #e1b036;
}
a:hover {
  color: #ffbe18;
}
a:active,
a:focus {
  color: #255ff2;
}
/**
* List
*
* From ul to dl HTML tags. 
*
* @package ChibiCSS
**/
ul,
ol,
dl {
  margin-bottom: 1.5em;
  padding-left: 1.5em;
}
ul {
  list-style: disc outside;
}
ol {
  list-style: decimal outside;
}
dt {
  font-weight: 600;
}
/**
* Media
*
* For stuffs like images or video. 
*
* @package ChibiCSS
**/
img {
  max-width: 100%;
}
figure {
  text-align: center;
  margin: 0 0 1.5em;
}
figure img {
  display: block;
  margin: 0 auto;
}
figcaption {
  border-bottom: 0.04347826em dotted #f2b825;
  padding: 1.5em 1em;
  margin-bottom: 1.5em;
  font: normal 0.82608696em/1.5em Arial, sans-serif;
  color: #9b927c;
  font-weight: 200;
}
/**
* Table
*
* Table beautifier. 
*
* @package ChibiCSS
**/
table {
  margin-bottom: 1.5em;
  width: 100%;
}
th,
td {
  padding: 0.75em 0.5em;
  border-bottom: 0.04347826em solid #bdb7a9;
}
th {
  text-align: left;
  border-bottom: 0.08695652em solid #bdb7a9;
  padding-top: 0.70652174em;
  font-weight: 600;
}
caption {
  font: italic 0.82608696em/1.5em Arial, sans-serif;
  font-weight: 200;
}
/**
* Form
*
* Annoyings forms
*
* @package ChibiCSS
**/
fieldset {
  margin-bottom: 1.5em;
}
fieldset *:last-child {
  margin-bottom: 0;
}
legend {
  font-weight: 600;
  margin-bottom: 1.5em;
  font: 600 1.17391304em/1.5em Arial, sans-serif;
}
button,
input,
textarea,
select,
optgroup {
  font: inherit;
  color: inherit;
}
optgroup {
  font-weight: 600;
}
/**
* Content prototyping
*
* Create a neutral presentation to encourage the content first approche.
*
* Just for prototyping steps, do not use in production design.
**/
/**
* Styleguide
*
* For demo your design. Use this file just to show the appearence of various
* elements of your design.
*
* Do not use in production design.
**/
/**
* Layout
*
* This file provide pre-build some structures for you design. If you need more
* stylish default style.
*
* TODO : Evaluer si ce fichier est vraiment necessaire, donner la priorité au prototype
* Note : Ne pas oublier l'usage de l'import par référence (@import (reference) url)
**/
/**
* Éntete du site
**/
.banner {
  padding: 1em;
  background-color: #f2b825;
}
.banner.compact .btn,
.banner.compact .btn-cta,
.banner.compact .btn-navigation {
  font-size: 0.82608696em;
}
.banner.compact .banner-logo img {
  max-width: 7.5rem;
}
.banner-logo {
  font-size: 1.17391304em;
  text-align: center;
}
.banner-description {
  font-style: italic;
  text-align: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 1.17391304em;
}
.btn-banner-planning:link,
.btn-banner-planning:visited {
  background-color: #1a222f;
}
.btn-banner-planning:link:link,
.btn-banner-planning:visited:link,
.btn-banner-planning:link:visited,
.btn-banner-planning:visited:visited {
  color: #ffffff;
}
.btn-banner-planning:link:hover,
.btn-banner-planning:visited:hover,
.btn-banner-planning:link.current,
.btn-banner-planning:visited.current {
  background-color: #0b172a;
  color: #ffffff;
}
.btn-banner-planning:link.disabled,
.btn-banner-planning:visited.disabled,
.btn-banner-planning:link[disabled],
.btn-banner-planning:visited[disabled] {
  background-color: #17253c;
}
/**
* Footer
**/
.footer {
  font-size: 0.82608696em;
  line-height: 1.5em;
  background-color: #1a222f;
  color: #ffffff;
  padding-top: 3em;
  padding-bottom: 0.75rem;
}
.footer h1 {
  font-size: 1.56521739em;
}
.footer h2 {
  font-size: 1.17391304em;
}
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
  font-size: 1em;
}
.sub-footer {
  font: normal 0.69565217em/1.5em Arial, sans-serif;
}
.footer-banner {
  *zoom: 1;
}
.footer-banner:before,
.footer-banner:after {
  content: " ";
  display: table;
}
.footer-banner:after {
  clear: both;
}
.footer-banner-logo {
  float: left;
  max-width: 7.5rem;
  margin-right: 1.5rem;
}
.footer-banner-description {
  text-align: center;
  padding-top: .9em;
}
/**
* Élements de navigation globaux
**/
.btn,
.btn-cta,
.btn-navigation {
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0.25em 0 0.25em;
  border: none;
  cursor: pointer;
  font: normal 1em/1.5em Arial, sans-serif;
  text-decoration: none;
  background-color: #ffffff;
  display: block;
  text-align: center;
}
.btn:link,
.btn:visited,
.btn-cta:link,
.btn-cta:visited,
.btn-navigation:link,
.btn-navigation:visited {
  color: #000000;
}
.btn:hover,
.btn.current,
.btn-cta:hover,
.btn-cta.current,
.btn-navigation:hover,
.btn-navigation.current {
  background-color: #ebffff;
  color: #000000;
}
.btn.disabled,
.btn[disabled],
.btn-cta.disabled,
.btn-cta[disabled],
.btn-navigation.disabled,
.btn-navigation[disabled] {
  background-color: #ffffff;
}
.btn-cta {
  background-color: #f2b825;
}
.btn-cta:link,
.btn-cta:visited {
  color: #000000;
}
.btn-cta:hover,
.btn-cta.current {
  background-color: #ff930e;
  color: #ffffff;
}
.btn-cta.disabled,
.btn-cta[disabled] {
  background-color: #ffc122;
}
.btn-navigation {
  background-color: #ffd466;
}
.btn-navigation:link,
.btn-navigation:visited {
  color: #000000;
}
.btn-navigation:hover,
.btn-navigation.current {
  background-color: #ffce52;
  color: #000000;
}
.btn-navigation.disabled,
.btn-navigation[disabled] {
  background-color: #ffd770;
}
/**
* Article
**/
main {
  padding-top: 1.5em;
}
main article h1 {
  font-size: 2.60869565em;
}
main article h2 {
  font-size: 2.08695652em;
}
main article h3 {
  font-size: 1.56521739em;
}
main article h4 {
  font-size: 1.17391304em;
}
main article h5 {
  font-size: 1em;
}
main aside article {
  font-size: 0.82608696em;
}
main aside article h1 {
  font-size: 1.56521739em;
}
/**
* Heroes
**/
.hero {
  background-color: #1a222f;
}
.hero-content {
  padding: 3em 1em 1em;
  color: #ffffff;
  background-color: rgba(26, 34, 47, 0.7);
  text-shadow: #1a222f 0 0 2px;
}
.hero-content h1,
.hero-content h2,
.hero-content h3,
.hero-content h4 {
  line-height: 1em;
}
.hero-content p {
  font-size: 1.17391304em;
}
.hero-content p:last-child {
  margin-bottom: 0;
}
.hero-content [class^=btn] {
  text-shadow: none;
}
.covered {
  position: relative;
  overflow: hidden;
}
.covered .hero-content {
  position: relative;
  top: 0;
  max-width: 36rem;
  min-height: 24rem;
}
.covered figure {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -9999em;
}
.covered figure img {
  display: inline;
}
/**
* Grid
**/
.wrapper,
.banner,
main,
.main-header,
.main-footer {
  width: auto;
  *zoom: 1;
  overflow: hidden;
}
.wrapper:before,
.banner:before,
main:before,
.main-header:before,
.main-footer:before,
.wrapper:after,
.banner:after,
main:after,
.main-header:after,
.main-footer:after {
  content: " ";
  display: table;
}
.wrapper:after,
.banner:after,
main:after,
.main-header:after,
.main-footer:after {
  clear: both;
}
main > article,
main > aside,
footer {
  padding-left: 1em;
  padding-right: 1em;
}
body {
  font-size: 118.75%;
}
@media (min-width: 64rem) {
  body {
    font-size: 143.75%;
  }
  main {
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    clear: both;
  }
  .banner-navigation a,
  main > article,
  main > aside,
  .footer > section {
    box-sizing: border-box;
    float: left;
    clear: none;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    min-height: 1px;
    width: 100%;
  }
  .banner.compact {
    padding: 0 .5em .6em;
  }
  .banner.compact .header {
    max-width: 5em;
  }
  .banner.compact .banner-logo {
    text-align: left;
    margin-bottom: 0;
  }
  .banner.compact .banner-logo img {
    max-width: 3em;
    display: block;
  }
  .banner.compact .banner-description {
    font-size: 0.69565217em;
    line-height: 1.5em;
    padding-top: 1.3em;
    margin-left: 4em;
  }
  .banner.compact .banner-navigation {
    padding-top: .5em;
  }
  .banner.compact .btn-banner-planning {
    top: .6em;
  }
  .banner-logo {
    position: absolute;
    z-index: 1;
    left: .2em;
    top: .2em;
    max-width: 6em;
    background-color: #f2b825;
    border-radius: 3em;
    margin-bottom: 0;
    border: 0.13043478em solid #f2b825;
  }
  .banner-logo img {
    display: block;
  }
  .banner-description {
    margin-bottom: 0;
    float: left;
    margin: 0 0 0 6em;
    white-space: nowrap;
    font-size: 1em;
  }
  .banner-navigation {
    *zoom: 1;
    float: right;
    width: 30rem;
    margin-right: 8em;
  }
  .banner-navigation:before,
  .banner-navigation:after {
    content: " ";
    display: table;
  }
  .banner-navigation:after {
    clear: both;
  }
  .btn-banner-planning {
    position: absolute;
    top: 1em;
    right: 1em;
  }
  .banner-navigation a {
    width: 50%;
  }
  main > article {
    width: 36rem;
  }
  main > aside {
    width: 24rem;
  }
  .footer > section {
    width: 33.33333333%;
  }
  .footer > section.sub-footer {
    float: none;
  }
}
@media (min-width: 80rem) {
  main {
    width: 72rem;
  }
  .header {
    width: 24rem;
  }
  main > article {
    width: 42rem;
  }
  main > aside {
    width: 24rem;
    margin-left: 6rem;
  }
}
/** Layout **/
dl {
  padding-left: 0;
}
dl dd {
  margin-bottom: 1.5em;
}
.excerpt {
  font: normal 0.82608696em/1.5em Arial, sans-serif;
  padding: 1.5rem;
  background-color: #fcefcd;
  color: #1a222f;
}
.muted {
  color: #9b927c;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.pull-right {
  float: right;
  margin-left: 0.75rem;
}
.pull-left {
  float: left;
  margin-right: 0.75rem;
}
.xxlarge {
  font-size: 2.08695652em;
}
.xlarge {
  font-size: 1.56521739em;
}
.large {
  font-size: 1.17391304em;
}
.small {
  font-size: 0.82608696em;
}
.xsmall {
  font-size: 0.69565217em;
}
.xxsmall {
  font-size: 0.60869565em;
}
/** PROTO **/
.label {
  background-color: #f2b825;
  color: #1a222f;
  display: inline-block;
  font-family: Arial, sans-serif;
  line-height: 2.46428571em;
  font-size: 0.60869565em;
  margin-bottom: 2.46428571em;
  padding: 0 1em;
}
.label-complementary {
  background-color: #255ff2;
  color: #ffffff;
}
.label-al {
  background-color: #c5f225;
  color: #1a222f;
}
.label-ar {
  background-color: #f25125;
  color: #ffffff;
}
.label-muted {
  background-color: #9b927c;
  color: #ffffff;
}
.label-info {
  background-color: #5bc0de;
  color: #1a222f;
}
.label-warning {
  background-color: #f0ad4e;
  color: #1a222f;
}
.label-danger {
  background-color: #d9534f;
  color: #ffffff;
}
.label-success {
  background-color: #5cb85c;
  color: #ffffff;
}
.color-test {
  display: inline-block;
  width: 12rem;
  padding: 1.5em;
  text-align: center;
  font: normal 0.52173913em/1.5em "Andale Mono", "Lucida Console", monospace;
}
a.link {
  color: #f2b825;
}
a.visited {
  color: #e1b036;
}
a.hover {
  color: #ffbe18;
}
a.active,
a.focus {
  color: #255ff2;
}
.color-primary:before {
  white-space: pre;
  content: "primary #f2b825 \A HSL 43° 89% 55% \A RGB 242 184 37 1 \A Luma 53%";
}
.color-primary {
  background-color: #f2b825;
  color: #000000;
}
.color-darker:before {
  white-space: pre;
  content: "darker #5f4606 \A HSL 43° 89% 20% \A RGB 95 70 6 1 \A Luma 7%";
}
.color-darker {
  background-color: #5f4606;
  color: #ffffff;
}
.color-dark:before {
  white-space: pre;
  content: "dark #b3830b \A HSL 43° 89% 37% \A RGB 180 132 11 1 \A Luma 26%";
}
.color-dark {
  background-color: #b3830b;
  color: #ffffff;
}
.color-light:before {
  white-space: pre;
  content: "light #f7d379 \A HSL 43° 89% 72% \A RGB 248 212 122 1 \A Luma 68%";
}
.color-light {
  background-color: #f7d379;
  color: #000000;
}
.color-lighter:before {
  white-space: pre;
  content: "lighter #fcefcd \A HSL 43° 89% 90% \A RGB 253 239 206 1 \A Luma 87%";
}
.color-lighter {
  background-color: #fcefcd;
  color: #000000;
}
.color-saturate:before {
  white-space: pre;
  content: "saturate #ffbe18 \A HSL 43° 100% 55% \A RGB 255 190 24 1 \A Luma 58%";
}
.color-saturate {
  background-color: #ffbe18;
  color: #000000;
}
.color-desaturate:before {
  white-space: pre;
  content: "desaturate #e1b036 \A HSL 43° 74% 55% \A RGB 225 177 55 1 \A Luma 47%";
}
.color-desaturate {
  background-color: #e1b036;
  color: #000000;
}
.color-mono-90:before {
  white-space: pre;
  content: "mono-90 #fff1cc \A HSL 43° 100% 90% \A RGB 255 241 205 1 \A Luma 88%";
}
.color-mono-90 {
  background-color: #fff1cc;
  color: #000000;
}
.color-mono-80:before {
  white-space: pre;
  content: "mono-80 #ffe299 \A HSL 43° 100% 80% \A RGB 255 227 154 1 \A Luma 78%";
}
.color-mono-80 {
  background-color: #ffe299;
  color: #000000;
}
.color-mono-70:before {
  white-space: pre;
  content: "mono-70 #ffd466 \A HSL 43° 100% 70% \A RGB 255 212 102 1 \A Luma 69%";
}
.color-mono-70 {
  background-color: #ffd466;
  color: #000000;
}
.color-mono-60:before {
  white-space: pre;
  content: "mono-60 #ffc533 \A HSL 43° 100% 60% \A RGB 255 198 51 1 \A Luma 62%";
}
.color-mono-60 {
  background-color: #ffc533;
  color: #000000;
}
.color-mono-50:before {
  white-space: pre;
  content: "mono-50 #ffb700 \A HSL 43° 100% 50% \A RGB 255 183 0 1 \A Luma 55%";
}
.color-mono-50 {
  background-color: #ffb700;
  color: #000000;
}
.color-mono-40:before {
  white-space: pre;
  content: "mono-40 #cc9200 \A HSL 43° 100% 40% \A RGB 204 147 0 1 \A Luma 33%";
}
.color-mono-40 {
  background-color: #cc9200;
  color: #ffffff;
}
.color-mono-30:before {
  white-space: pre;
  content: "mono-30 #996e00 \A HSL 43° 100% 30% \A RGB 153 110 0 1 \A Luma 18%";
}
.color-mono-30 {
  background-color: #996e00;
  color: #ffffff;
}
.color-mono-20:before {
  white-space: pre;
  content: "mono-20 #664900 \A HSL 43° 100% 20% \A RGB 102 74 0 1 \A Luma 8%";
}
.color-mono-20 {
  background-color: #664900;
  color: #ffffff;
}
.color-mono-10:before {
  white-space: pre;
  content: "mono-10 #332500 \A HSL 43° 100% 10% \A RGB 51 37 0 1 \A Luma 2%";
}
.color-mono-10 {
  background-color: #332500;
  color: #ffffff;
}
.color-muted:before {
  white-space: pre;
  content: "muted #9b927c \A HSL 43° 13% 55% \A RGB 155 147 125 1 \A Luma 29%";
}
.color-muted {
  background-color: #9b927c;
  color: #ffffff;
}
.color-muted-darker:before {
  white-space: pre;
  content: "muted-darker #39352c \A HSL 43° 13% 20% \A RGB 57 54 44 1 \A Luma 4%";
}
.color-muted-darker {
  background-color: #39352c;
  color: #ffffff;
}
.color-muted-dark:before {
  white-space: pre;
  content: "muted-dark #6b6452 \A HSL 43° 13% 37% \A RGB 108 101 83 1 \A Luma 13%";
}
.color-muted-dark {
  background-color: #6b6452;
  color: #ffffff;
}
.color-muted-light:before {
  white-space: pre;
  content: "muted-light #bdb7a9 \A HSL 43° 13% 70% \A RGB 189 184 170 1 \A Luma 48%";
}
.color-muted-light {
  background-color: #bdb7a9;
  color: #000000;
}
.color-muted-lighter:before {
  white-space: pre;
  content: "muted-lighter #cfcbc0 \A HSL 43° 13% 78% \A RGB 207 203 193 1 \A Luma 60%";
}
.color-muted-lighter {
  background-color: #cfcbc0;
  color: #000000;
}
.color-complementary:before {
  white-space: pre;
  content: "complementary #255ff2 \A HSL 223° 89% 55% \A RGB 37 95 242 1 \A Luma 15%";
}
.color-complementary {
  background-color: #255ff2;
  color: #ffffff;
}
.color-complementary-left:before {
  white-space: pre;
  content: "complementary-left #7425f2 \A HSL 263° 89% 55% \A RGB 116 37 242 1 \A Luma 11%";
}
.color-complementary-left {
  background-color: #7425f2;
  color: #ffffff;
}
.color-complementary-right:before {
  white-space: pre;
  content: "complementary-right #25e8f2 \A HSL 183° 89% 55% \A RGB 37 232 242 1 \A Luma 64%";
}
.color-complementary-right {
  background-color: #25e8f2;
  color: #000000;
}
.color-al-10:before {
  white-space: pre;
  content: "al-10 #f2da25 \A HSL 53° 89% 55% \A RGB 242 219 37 1 \A Luma 69%";
}
.color-al-10 {
  background-color: #f2da25;
  color: #000000;
}
.color-al-20:before {
  white-space: pre;
  content: "al-20 #e8f225 \A HSL 63° 89% 55% \A RGB 232 242 37 1 \A Luma 81%";
}
.color-al-20 {
  background-color: #e8f225;
  color: #000000;
}
.color-al-30:before {
  white-space: pre;
  content: "al-30 #c5f225 \A HSL 73° 89% 55% \A RGB 198 242 37 1 \A Luma 76%";
}
.color-al-30 {
  background-color: #c5f225;
  color: #000000;
}
.color-ar-10:before {
  white-space: pre;
  content: "ar-10 #f29625 \A HSL 33° 89% 55% \A RGB 242 150 37 1 \A Luma 41%";
}
.color-ar-10 {
  background-color: #f29625;
  color: #ffffff;
}
.color-ar-20:before {
  white-space: pre;
  content: "ar-20 #f27425 \A HSL 23° 89% 55% \A RGB 242 116 37 1 \A Luma 31%";
}
.color-ar-20 {
  background-color: #f27425;
  color: #ffffff;
}
.color-ar-30:before {
  white-space: pre;
  content: "ar-30 #f25125 \A HSL 13° 89% 55% \A RGB 242 82 37 1 \A Luma 25%";
}
.color-ar-30 {
  background-color: #f25125;
  color: #ffffff;
}
.color-tr-80:before {
  white-space: pre;
  content: "tr-80 #25f22f \A HSL 123° 89% 55% \A RGB 37 242 48 1 \A Luma 64%";
}
.color-tr-80 {
  background-color: #25f22f;
  color: #000000;
}
.color-tr-90:before {
  white-space: pre;
  content: "tr-90 #25f252 \A HSL 133° 89% 55% \A RGB 37 242 82 1 \A Luma 64%";
}
.color-tr-90 {
  background-color: #25f252;
  color: #000000;
}
.color-tr-100:before {
  white-space: pre;
  content: "tr-100 #25f274 \A HSL 143° 89% 55% \A RGB 37 242 116 1 \A Luma 65%";
}
.color-tr-100 {
  background-color: #25f274;
  color: #000000;
}
.color-tl-80:before {
  white-space: pre;
  content: "tl-80 #f225a3 \A HSL 323° 89% 55% \A RGB 242 37 164 1 \A Luma 23%";
}
.color-tl-80 {
  background-color: #f225a3;
  color: #ffffff;
}
.color-tl-90:before {
  white-space: pre;
  content: "tl-90 #f225c5 \A HSL 313° 89% 55% \A RGB 242 37 198 1 \A Luma 24%";
}
.color-tl-90 {
  background-color: #f225c5;
  color: #ffffff;
}
.color-tl-100:before {
  white-space: pre;
  content: "tl-100 #f225e8 \A HSL 303° 89% 55% \A RGB 242 37 232 1 \A Luma 26%";
}
.color-tl-100 {
  background-color: #f225e8;
  color: #ffffff;
}
.color-white:before {
  white-space: pre;
  content: "white #ffffff \A HSL 0° 0% 100% \A RGB 255 255 255 1 \A Luma 100%";
}
.color-white {
  background-color: #ffffff;
  color: #000000;
}
.color-black:before {
  white-space: pre;
  content: "black #1a222f \A HSL 217° 29% 14% \A RGB 26 34 47 1 \A Luma 2%";
}
.color-black {
  background-color: #1a222f;
  color: #ffffff;
}
.color-info:before {
  white-space: pre;
  content: "info #5bc0de \A HSL 194° 66% 61% \A RGB 91 192 222 1 \A Luma 45%";
}
.color-info {
  background-color: #5bc0de;
  color: #000000;
}
.color-warning:before {
  white-space: pre;
  content: "warning #f0ad4e \A HSL 35° 84% 62% \A RGB 240 173 78 1 \A Luma 49%";
}
.color-warning {
  background-color: #f0ad4e;
  color: #000000;
}
.color-danger:before {
  white-space: pre;
  content: "danger #d9534f \A HSL 2° 64% 58% \A RGB 217 83 79 1 \A Luma 22%";
}
.color-danger {
  background-color: #d9534f;
  color: #ffffff;
}
.color-success:before {
  white-space: pre;
  content: "success #5cb85c \A HSL 120° 39% 54% \A RGB 92 184 92 1 \A Luma 37%";
}
.color-success {
  background-color: #5cb85c;
  color: #ffffff;
}
.color-highlight:before {
  white-space: pre;
  content: "highlight #ffff00 \A HSL 60° 100% 50% \A RGB 255 255 0 1 \A Luma 93%";
}
.color-highlight {
  background-color: #ffff00;
  color: #000000;
}
.btn-cta-ar {
  background-color: #f25125;
}
.btn-cta-ar:link,
.btn-cta-ar:visited {
  color: #ffffff;
}
.btn-cta-ar:hover,
.btn-cta-ar.current {
  background-color: #ff3a04;
  color: #ffffff;
}
.btn-cta-ar.disabled,
.btn-cta-ar[disabled] {
  background-color: #ff5222;
}
.btn-cta-al {
  background-color: #c5f225;
}
.btn-cta-al:link,
.btn-cta-al:visited {
  color: #000000;
}
.btn-cta-al:hover,
.btn-cta-al.current {
  background-color: #c8ff04;
  color: #000000;
}
.btn-cta-al.disabled,
.btn-cta-al[disabled] {
  background-color: #cfff22;
}
.btn-revert {
  background-color: #255ff2;
}
.btn-revert:link,
.btn-revert:visited {
  color: #ffffff;
}
.btn-revert:hover,
.btn-revert.current {
  background-color: #044bff;
  color: #ffffff;
}
.btn-revert.disabled,
.btn-revert[disabled] {
  background-color: #2261ff;
}
.btn-muted {
  background-color: #cfcbc0;
}
.btn-muted:link,
.btn-muted:visited {
  color: #000000;
}
.btn-muted:hover,
.btn-muted.current {
  background-color: #dacaa1;
  color: #000000;
}
.btn-muted.disabled,
.btn-muted[disabled] {
  background-color: #dbd3be;
}
.btn-revert-muted {
  background-color: #39352c;
}
.btn-revert-muted:link,
.btn-revert-muted:visited {
  color: #ffffff;
}
.btn-revert-muted:hover,
.btn-revert-muted.current {
  background-color: #393017;
  color: #ffffff;
}
.btn-revert-muted.disabled,
.btn-revert-muted[disabled] {
  background-color: #473e28;
}
.btn-bw {
  background-color: #ffffff;
}
.btn-bw:link,
.btn-bw:visited {
  color: #000000;
}
.btn-bw:hover,
.btn-bw.current {
  background-color: #121c2d;
  color: #ffffff;
}
.btn-bw.disabled,
.btn-bw[disabled] {
  background-color: #ffffff;
}
.btn-revert-bw {
  background-color: #1a222f;
}
.btn-revert-bw:link,
.btn-revert-bw:visited {
  color: #ffffff;
}
.btn-revert-bw:hover,
.btn-revert-bw.current {
  background-color: #f5ffff;
  color: #000000;
}
.btn-revert-bw.disabled,
.btn-revert-bw[disabled] {
  background-color: #17253c;
}
.btn-info {
  background-color: #5bc0de;
}
.btn-info:link,
.btn-info:visited {
  color: #000000;
}
.btn-info:hover,
.btn-info.current {
  background-color: #29cbfb;
  color: #000000;
}
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #55cbee;
}
.btn-warning {
  background-color: #f0ad4e;
}
.btn-warning:link,
.btn-warning:visited {
  color: #000000;
}
.btn-warning:hover,
.btn-warning.current {
  background-color: #ffa72b;
  color: #000000;
}
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #feb44a;
}
.btn-danger {
  background-color: #d9534f;
}
.btn-danger:link,
.btn-danger:visited {
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger.current {
  background-color: #f9211b;
  color: #ffffff;
}
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #ea4d48;
}
.btn-success {
  background-color: #5cb85c;
}
.btn-success:link,
.btn-success:visited {
  color: #ffffff;
}
.btn-success:hover,
.btn-success.current {
  background-color: #28d828;
  color: #ffffff;
}
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #52cc52;
}
.xxlarge {
  line-height: 1.4375em;
  font-size: 2.08695652em;
  margin-bottom: 0.71875em;
}
.xlarge {
  line-height: 1.91666667em;
  font-size: 1.56521739em;
  margin-bottom: 0.95833333em;
}
.large {
  line-height: 1.27777778em;
  font-size: 1.17391304em;
  margin-bottom: 1.27777778em;
}
.small {
  line-height: 1.81578947em;
  font-size: 0.82608696em;
  margin-bottom: 1.81578947em;
}
.xsmall {
  line-height: 2.15625em;
  font-size: 0.69565217em;
  margin-bottom: 2.15625em;
}
.xxsmall {
  line-height: 2.46428571em;
  font-size: 0.60869565em;
  margin-bottom: 2.46428571em;
}
body {
  padding: 0;
}
/*# sourceMappingURL=main.css.map */