/**
* ChibiCSS
* A simple and lovely CSS framework
*
* By Ziopod
* MIT License
* http://github.com/ziopod/chibicss
**/
/**
* Tools
*
* This does not write any CSS, it just brings you tools for build your design.
* Vanilla, layout and styleguide LESS files depend on these tools.
**/
/**
* Grid
*
* Variables and mixins for grid usage
*
* @package ChibiCSS
**/
/** Configuration **/
/**
* Grid toolbox
**/
/**
* Clearfix
* From http://nicolasgallagher.com/micro-clearfix-hack/
**/
/**
* Typo
*
* Set of variables and mixins for typo usages
*
* @package ChibiCSS
**/
/**
* Configuration (move to separate file)
**/
/**
* Utilities variables
**/
/**
* Pixem
* Convert pixel unit size to REM size
*
* @param	mixed	size
**/
/**
* Font-size
* Set EM font-size, based on size name
* Usage: .font-size(@large)
*
* @param	string		font-size
**/
/**
* Font
* Set shorthanded font 
*
* @param	string		font-size
* @param	string		font-family type
**/
/*
* Baseline
* Set baseline (experimentale)
*
* cf. http://www.smashingmagazine.com/2012/12/css-baseline-the-good-the-bad-and-the-ugly/
* cf. http://8gramgorilla.com/the-masochism-of-implementing-css-baseline/
*
* @param	string		font-size
**/
/**
* Colors
*
* Variables and mixins for colors usages.
* cf. http://richbray.me/cms/bootstrap/
* cf. http://sass-guidelin.es/#colors-and-variables
*
* @package ChibiCSS
**/
/**
* Configuration
**/
/*
@color-text-light		:
@color-text-lighter	:
*/
/*@color-link			:
@color-link-dark		:
@color-link-light		:
@color-link-hover		:
@color-link-visited		:
@color-link-active		:
*/
/*@color-border
@color-border-dark		:
@color-border-light		:
*/
/*
@color-background		:
@color-background-dark	:
@color-background-light	:

/**
* Colors variantes
**/
/**
* Colomaton
* Show informations about color
*
* @param	color	Color you want inforamtion
* @param	string	Css class suffix
**/
/**
* Layout
*
* Stuffs for layout design
*
* @package ChibiCSS
**/
/**
* Label
* Generate label
*
* @param	color	Label background color
**/
/**
* Label color
* 
* @param	color	Label background color
**/
/**
* Button
*
**/
/**
* Button fluid
**/
/**
* Button color
*
* @param	color  Background-color
**/
/**
* Reset CSS v2.0
* 
* The pretty simple reset from Eric Meyer http://meyerweb.com/eric/tools/css/reset/
**/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
* Vanilla CSS
*
* This file perform a simple and neutral presentation for HTML elements.
**/
/**
* Vanilla CSS
*
* Simple and neutral presentation.
*
* @package ChibiCSS
**/
/**
* Text
*
* All things for text aspect. 
*
* @package ChibiCSS
**/
body {
  font: normal 1em/1.5em Georgia, serif;
  font-size: 125%;
  color: #1a222f;
  padding: 1.5em;
}
p,
article,
section,
aside,
figure,
section nav {
  margin-bottom: 1.5em;
}
hr {
  border: none;
  border-top: 0.1em solid #f2b825;
  margin: 0;
  padding: 1.5em 0 0;
}
address {
  font-style: italic;
  margin-bottom: 1.5em;
}
small {
  font-size: 0.8em;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: 600;
}
pre,
code,
samp,
kbd {
  font: normal 1em/1.5em "Andale Mono", "Lucida Console", monospace;
  line-height: 1.875em;
  font-size: 0.8em;
  margin-bottom: 1.875em;
  background-color: #eeece9;
  padding: .2em .3em .28em;
}
pre {
  padding: 1.5em;
}
pre *:last-child {
  margin-bottom: 0;
}
var {
  font-style: italic;
}
blockquote {
  padding: 1.5em;
  background-color: #eeece9;
  margin-bottom: 1.5em;
  font-style: italic;
}
blockquote em,
blockquote i {
  font-style: normal;
}
blockquote *:last-child {
  margin-bottom: 0;
}
blockquote footer::before {
  content: "—\00A0";
}
q,
cite {
  quotes: '«\00A0' '\00A0»' '"' '"';
}
q:before,
cite:before {
  content: open-quote;
}
q:after,
cite:after {
  content: close-quote;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ffff00;
  color: #1a222f;
  padding: .2em .3em .28em;
}
/**
* Heading
*
* Headings semantic size, like Mozilla's style : http://hg.mozilla.org/mozilla-central/file/tip/layout/style/html.css#l171
*
* @package ChibiCSS
**/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  font-weight: 600;
}
h1 {
  line-height: 1em;
  font-size: 3em;
  margin-bottom: 0.5em;
}
h2 {
  line-height: 1.25em;
  font-size: 2.4em;
  margin-bottom: 0.625em;
}
h3 {
  line-height: 1.66666667em;
  font-size: 1.8em;
  margin-bottom: 0.83333333em;
}
h4 {
  line-height: 1.07142857em;
  font-size: 1.4em;
  margin-bottom: 1.07142857em;
}
h5 {
  line-height: 1.30434783em;
  font-size: 1.15em;
  margin-bottom: 1.30434783em;
}
h6 {
  line-height: 1.5em;
  font-size: 1em;
  margin-bottom: 1.5em;
}
/*
* Experimental
:-moz-any(section, article, footer, aside, nav)
{
	h1 { .baseline(@xxx-large);}
	h2 { .baseline(@xx-large);}
	h3 { .baseline(@x-large);}
	h4 { .baseline(@large);}
	h5 { .baseline(@normal);}

	:-moz-any(section, article, footer, aside, nav)
	{
		h1 { .baseline(@xx-large);}
		h2 { .baseline(@x-large);}
		h3 { .baseline(@large);}
		h4 { .baseline(@normal);}

		:-moz-any(section, article, footer, aside, nav)
		{	
			h1 { .baseline(@x-large);}
			h2 { .baseline(@large);}
			h3 { .baseline(@normal);}
		}
	}
}
:-webkit-any(section, article, footer, aside, nav)
{
	h1 { .baseline(@xxx-large);}
	h2 { .baseline(@xx-large);}
	h3 { .baseline(@x-large);}
	h4 { .baseline(@large);}
	h5 { .baseline(@normal);}
	h6 { .baseline(@normal);}

	:-webkit-any(section, article, footer, aside, nav)
	{
		h1 { .baseline(@xx-large);}
		h2 { .baseline(@x-large);}
		h3 { .baseline(@large);}
		h4 { .baseline(@normal);}

		:-webkit-any(section, article, footer, aside, nav)
		{	
			h1 { .baseline(@x-large);}
			h2 { .baseline(@large);}
			h3 { .baseline(@normal);}
		}
	}
}
*/
/**
* Link
*
* Simply apply colors here, there's nothing else to say.
*
* @package ChibiCSS
**/
h1 a:link,
h1 a:visited,
h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited,
h4 a:link,
h4 a:visited,
h5 a:link,
h5 a:visited,
h6 a:link,
h6 a:visited {
  color: #1a222f;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #f2b825;
}
a:link {
  color: #f2b825;
}
a:visited {
  color: #e1b036;
}
a:hover {
  color: #ffbe18;
}
a:active,
a:focus {
  color: #255ff2;
}
/**
* List
*
* From ul to dl HTML tags. 
*
* @package ChibiCSS
**/
ul,
ol,
dl {
  margin-bottom: 1.5em;
  padding-left: 1.5em;
}
ul {
  list-style: disc outside;
}
ol {
  list-style: decimal outside;
}
dt {
  font-weight: 600;
}
/**
* Media
*
* For stuffs like images or video. 
*
* @package ChibiCSS
**/
img {
  max-width: 100%;
}
figure {
  text-align: center;
  margin: 0 0 1.5em;
}
figure img {
  display: block;
  margin: 0 auto;
}
figcaption {
  border-bottom: 0.05em dotted #f2b825;
  padding: 1.5em 1em;
  margin-bottom: 1.5em;
  font: normal 0.8em/1.5em Arial, sans-serif;
  color: #9b927c;
  font-weight: 200;
}
/**
* Table
*
* Table beautifier. 
*
* @package ChibiCSS
**/
table {
  margin-bottom: 1.5em;
  width: 100%;
}
th,
td {
  padding: 0.75em 0.5em;
  border-bottom: 0.05em solid #bdb7a9;
}
th {
  text-align: left;
  border-bottom: 0.1em solid #bdb7a9;
  padding-top: 0.7em;
  font-weight: 600;
}
caption {
  font: italic 0.8em/1.5em Arial, sans-serif;
  font-weight: 200;
}
/**
* Form
*
* Annoyings forms
*
* @package ChibiCSS
**/
fieldset {
  margin-bottom: 1.5em;
}
fieldset *:last-child {
  margin-bottom: 0;
}
legend {
  font-weight: 600;
  margin-bottom: 1.5em;
  font: 600 1.15em/1.5em Arial, sans-serif;
}
button,
input,
textarea,
select,
optgroup {
  font: inherit;
  color: inherit;
}
optgroup {
  font-weight: 600;
}
/**
* Content prototyping
*
* Create a neutral presentation to encourage the content first approche.
*
* Just for prototyping steps, do not use in production design.
**/
/**
* Styleguide
*
* For demo your design. Use this file just to show the appearence of various
* elements of your design.
*
* Do not use in production design.
**/
/**
* Layout
*
* This file provide pre-build some structures for you design. If you need more
* stylish default style.
*
* TODO : Evaluer si ce fichier est vraiment necessaire, donner la priorité au prototype
* Note : Ne pas oublier l'usage de l'import par référence (@import (reference) url)
**/
/**
* Éntete du site
**/
.banner {
  padding: 1em;
  background-color: #f2b825;
}
.banner .banner-logo {
  margin: 0 auto 1rem;
}
.banner .banner-logo img {
  width: 100%;
  max-width: 10.9375rem;
}
.banner.compact .btn,
.banner.compact .btn-cta,
.banner.compact .btn-navigation,
.banner.compact .btn-muted {
  font-size: 0.8em;
}
.banner.compact .banner-logo img {
  max-width: 7.5rem;
}
.banner-logo {
  font-size: 1.15em;
  text-align: center;
}
.banner-description {
  display: none;
  font-style: italic;
  text-align: center;
  font-size: 1em;
  padding-top: 0.75em;
  padding-left: 4em;
  padding-right: 4em;
  line-height: 1.2em;
}
.btn-banner-planning:link,
.btn-banner-planning:visited {
  background-color: #1a222f;
}
.btn-banner-planning:link:link,
.btn-banner-planning:visited:link,
.btn-banner-planning:link:visited,
.btn-banner-planning:visited:visited {
  color: #ffffff;
}
.btn-banner-planning:link:hover,
.btn-banner-planning:visited:hover,
.btn-banner-planning:link:focus,
.btn-banner-planning:visited:focus,
.btn-banner-planning:link:active,
.btn-banner-planning:visited:active,
.btn-banner-planning:link.current,
.btn-banner-planning:visited.current {
  background-color: #0b172a;
  color: #ffffff;
}
.btn-banner-planning:link.disabled,
.btn-banner-planning:visited.disabled,
.btn-banner-planning:link[disabled],
.btn-banner-planning:visited[disabled] {
  background-color: #17253c;
}
/**
* Footer
**/
.footer {
  font-size: 0.8em;
  line-height: 1.5em;
  background-color: #1a222f;
  color: #ffffff;
  padding-top: 3em;
  padding-bottom: 0.75rem;
}
.footer h1 {
  font-size: 1.4em;
}
.footer h2 {
  font-size: 1.15em;
}
.footer h3,
.footer h4,
.footer h5,
.footer h6 {
  font-size: 1em;
}
.sub-footer {
  font: normal 0.7em/1.5em Arial, sans-serif;
}
.footer-banner {
  *zoom: 1;
}
.footer-banner:before,
.footer-banner:after {
  content: " ";
  display: table;
}
.footer-banner:after {
  clear: both;
}
.footer-banner-logo {
  float: left;
  max-width: 7.5rem;
  margin-right: 1.5rem;
}
.footer-banner-description {
  text-align: center;
  padding-top: .9em;
}
/**
* Élements de navigation globaux
**/
.btn,
.btn-cta,
.btn-navigation,
.btn-muted {
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 0.25em 0 0.25em;
  border: none;
  cursor: pointer;
  font: normal 1em/1.5em Arial, sans-serif;
  text-decoration: none;
  background-color: #fcefcd;
  display: block;
  text-align: center;
}
.btn:link,
.btn:visited,
.btn-cta:link,
.btn-cta:visited,
.btn-navigation:link,
.btn-navigation:visited,
.btn-muted:link,
.btn-muted:visited {
  color: #000000;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.current,
.btn-cta:hover,
.btn-cta:focus,
.btn-cta:active,
.btn-cta.current,
.btn-navigation:hover,
.btn-navigation:focus,
.btn-navigation:active,
.btn-navigation.current,
.btn-muted:hover,
.btn-muted:focus,
.btn-muted:active,
.btn-muted.current {
  background-color: #ffeab6;
  color: #000000;
}
.btn.disabled,
.btn[disabled],
.btn-cta.disabled,
.btn-cta[disabled],
.btn-navigation.disabled,
.btn-navigation[disabled],
.btn-muted.disabled,
.btn-muted[disabled] {
  background-color: #fff3d5;
}
.btn-cta {
  background-color: #f2b825;
}
.btn-cta:link,
.btn-cta:visited {
  color: #000000;
}
.btn-cta:hover,
.btn-cta:focus,
.btn-cta:active,
.btn-cta.current {
  background-color: #ff930e;
  color: #ffffff;
}
.btn-cta.disabled,
.btn-cta[disabled] {
  background-color: #ffc122;
}
.btn-navigation {
  background-color: #ffd466;
}
.btn-navigation:link,
.btn-navigation:visited {
  color: #000000;
}
.btn-navigation:hover,
.btn-navigation:focus,
.btn-navigation:active,
.btn-navigation.current {
  background-color: #ffce52;
  color: #000000;
}
.btn-navigation.disabled,
.btn-navigation[disabled] {
  background-color: #ffd770;
}
.btn-muted {
  background-color: #eeece9;
}
.btn-muted:link,
.btn-muted:visited {
  color: #000000;
}
.btn-muted:hover,
.btn-muted:focus,
.btn-muted:active,
.btn-muted.current {
  background-color: #eee7d4;
  color: #000000;
}
.btn-muted.disabled,
.btn-muted[disabled] {
  background-color: #f5f2ec;
}
a:link {
  color: #e7773a;
}
a:visited {
  color: #f99157;
}
a:hover {
  color: #e35d27;
}
a:active,
a:focus {
  color: #255ff2;
}
/**
* Article
**/
main {
  padding-top: 1.5em;
}
main article h1 {
  font-size: 2.4em;
}
main article h2 {
  font-size: 1.8em;
}
main article h3 {
  font-size: 1.4em;
}
main article h4 {
  font-size: 1.15em;
}
main article h5 {
  font-size: 1em;
}
main aside article {
  line-height: 1.875em;
  font-size: 0.8em;
  margin-bottom: 1.875em;
  margin-bottom: 2em;
}
main aside article h1 {
  font-size: 1.4em;
}
main aside article h2 {
  font-size: 1.15em;
}
main aside article h3,
main aside article h4,
main aside article h5,
main aside article h6 {
  font-size: 1em;
}
/**
* Heroes
**/
.hero {
  background-color: #1a222f;
}
.hero-content {
  padding: 4em 1em 1em;
  color: #ffffff;
  background-color: rgba(26, 34, 47, 0.7);
  text-shadow: #1a222f 0 0 2px;
}
.hero-content h1,
.hero-content h2,
.hero-content h3,
.hero-content h4 {
  line-height: 1em;
}
.hero-content h1 {
  font-size: 2.4em;
}
.hero-content p {
  line-height: 1.30434783em;
  font-size: 1.15em;
  margin-bottom: 1.30434783em;
}
.hero-content p:last-child {
  margin-bottom: 0;
}
.hero-content [class^=btn] {
  text-shadow: none;
}
.covered {
  position: relative;
  overflow: hidden;
}
.covered .hero-content {
  position: relative;
  top: 0;
  max-width: 36rem;
  min-height: 24rem;
}
.covered figure {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-indent: -9999em;
}
.covered figure img {
  display: inline;
}
/**
* Grid
**/
.wrapper,
.banner,
main,
.main-header,
.main-footer {
  width: auto;
  *zoom: 1;
  overflow: hidden;
}
.wrapper:before,
.banner:before,
main:before,
.main-header:before,
.main-footer:before,
.wrapper:after,
.banner:after,
main:after,
.main-header:after,
.main-footer:after {
  content: " ";
  display: table;
}
.wrapper:after,
.banner:after,
main:after,
.main-header:after,
.main-footer:after {
  clear: both;
}
main > article,
main > aside,
footer {
  padding-left: 1em;
  padding-right: 1em;
}
body {
  font-size: 100%;
}
@media (min-width: 64rem) {
  body {
    font-size: 125%;
  }
  main {
    width: 60rem;
    margin-left: auto;
    margin-right: auto;
    clear: both;
  }
  .banner-navigation a,
  main > article,
  main > aside,
  .footer > section {
    box-sizing: border-box;
    float: left;
    clear: none;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    min-height: 1px;
    width: 100%;
  }
  .banner.compact {
    padding: 0 .5em .6em;
  }
  .banner.compact .header {
    max-width: 5em;
  }
  .banner.compact .banner-logo {
    text-align: left;
    margin-bottom: 0;
  }
  .banner.compact .banner-logo img {
    max-width: 3em;
    display: block;
  }
  .banner.compact .banner-description {
    font-size: 0.8em;
    line-height: 1.5em;
    padding-top: 1.3em;
    margin-left: 4em;
  }
  .banner.compact .banner-navigation {
    padding-top: .5em;
  }
  .banner.compact .btn-banner-planning {
    top: .6em;
  }
  .banner-logo {
    position: absolute;
    z-index: 1;
    left: .2em;
    top: .2em;
    max-width: 10.9375rem;
    background-color: #f2b825;
    border-radius: 11.25rem;
    margin-bottom: 0;
    border: 0.15em solid #f2b825;
  }
  .banner-logo img {
    display: block;
  }
  .banner-description {
    display: block;
    margin-bottom: 0;
    float: left;
    margin: 0 0 0 6em;
    white-space: nowrap;
  }
  .banner-navigation {
    *zoom: 1;
    float: right;
    width: 24rem;
    margin-right: 8em;
  }
  .banner-navigation:before,
  .banner-navigation:after {
    content: " ";
    display: table;
  }
  .banner-navigation:after {
    clear: both;
  }
  .btn-banner-planning {
    position: absolute;
    top: 1em;
    right: 1em;
  }
  .banner-navigation a {
    width: 50%;
  }
  main > article {
    width: 36rem;
  }
  main > aside {
    width: 24rem;
  }
  .footer > section {
    width: 33.33333333%;
  }
  .footer > section.sub-footer {
    float: none;
  }
}
@media (min-width: 80rem) {
  main {
    width: 72rem;
  }
  .header {
    width: 24rem;
  }
  main > article {
    width: 42rem;
  }
  main > aside {
    width: 24rem;
    margin-left: 6rem;
  }
}
/** Layout **/
dl {
  padding-left: 0;
}
dl dd {
  margin-bottom: 1.5em;
}
.excerpt {
  font: normal 0.8em/1.5em Arial, sans-serif;
  padding: 1.5rem;
  background-color: #fcefcd;
  color: #1a222f;
}
.muted {
  color: #9b927c;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.pull-right {
  float: right;
  margin-left: 0.75rem;
}
.pull-left {
  float: left;
  margin-right: 0.75rem;
}
.xxlarge {
  font-size: 1.8em;
}
.xlarge {
  font-size: 1.4em;
}
.large {
  font-size: 1.15em;
}
.small {
  font-size: 0.8em;
}
.xsmall {
  font-size: 0.7em;
}
.xxsmall {
  font-size: 0.6em;
}
body {
  padding: 0;
}
/*# sourceMappingURL=main.css.map */